h5{
    margin: 0;
    padding: 15px 30px;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.5em;
}
body{
    margin: 0;
}
header{
    background-color:#333;
}

h1{
    color: white;
    text-align:center;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 15%;
    font-size:4rem;
    margin-top: 0;
  
}
h2{
    color: #333;
    font-size: 4rem;
    margin-right: 30%;
    margin-left: 10%;

}
  
p{
    margin-right: 30%;
    margin-left: 10%;
}
h4{
    color: white;
    text-align:center;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 1%
}
nav{
    color: white;
    text-align: right;
    padding-right: 2%; 
    margin-top: 200px;
}
ul{
    list-style-type:none;
    padding: 50px 0;
}
li{
    padding-bottom: 10px;
}
li:hover{
    color: #ccc;
}
header section:first-of-type{
    width: 400px;
    margin: 0 auto;
    background: linear-gradient(to top right,#3dc8d5, #8507e1);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 200px;
    border-radius: 5px;
}
header section:first-of-type:hover{
    background: linear-gradient(to top right,#8507e1,#3dc8d5);
}

main{
    margin-top: 150px;
    background-image: url(../img/backg.svg)
}
article{
    margin-top: 15%;
    text-align: center;
}
article img{
    width: 50%;
    border-radius: 1%;
    
}
article h1{
    font-size:3rem;
    color: black;
    text-align: left;
    font-family: 'Gilda Display', serif;
    padding-left: 25%;
    margin-top: 4%;
}
article h5{
    
    color: black;
    text-align: left;
    font-family: 'Gilda Display', serif;
    padding-left: 25%;
    font-size: 1.2rem;
    padding-top: .1%;
}